<%- layout('layouts/main') %>
<nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
        <a id="IMagen" href=""><img src="../../public/img/Frame.png" alt=""></a>
        <div id="BarraDeNav2">
            <a href="/logout" class="btn" id="BT0">Cerrar Sesion</a>
        </div>
    </nav>
<header id="mainheader2">
    <br>
    <div id="PerfilTallerista">
        <h1>Bienvenido/a <%=profesor.nombre%></h1>
        <div id="Talleres">
            <h1>Talleres</h1>
            <% if(profesor.Profesor.talleres.length > 0) {%>
                <% talleres.forEach(t => { %>
                    <div id="Taller">
                        <h3><%= t.nombre%> </h3>
                        <a class="btn" id="BtnTaller" href="/rev/profesor/taller/<%=t._id%>">Administrar Taller</a>
                    </div>
                <%})%>
            <% } %>
        </div>
        <a id="BotonAñadirTaller" class="btn" href="/rev/profesor/crearTaller">Crear Nuevo Taller</a>
    </div>
    <br>
</header>
<% include ../layouts/footer%>
