<%- layout('layouts/main') %>
<footer>
  <div class="footer">
    <div class="footer__info">
      <span>
        <i class="fa fa-map-marker footer__info__icon"></i>
      </span>
      <span>
        <p class="footer__info__text">Lincoyán 248, Concepción, BíoBío</p>
      </span>
    </div>
    <div class="footer__info">
      <span>
        <i class="fa fa-envelope footer__info__icon"></i>
      </span>
      <span>
        <p class="footer__info__text">
          oficinadejovenes@concepcion.cl
        </p>
      </span>
    </div>

    <div class="footer__info">
      <span>
        <i class="fa fa-instagram footer__info__icon"></i>
      </span>
      <span>
        <p class="footer__info__text">@depajoven</p>
      </span>
    </div>

    <div class="footer__info">
      <span>
        <i class="fa fa-instagram footer__info__icon"></i>
      </span>
      <span>
        <p class="footer__info__text">@Muni_conce</p>
      </span>
    </div>
  </div>
</footer>
